{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
<header>
    <h1><center><b>CATÁLOGO DE ESPECIES</b></center></h1>
</header>
    {% for especie in lista_especies %}
       <div class="col-md-4 col-sm-6 col-lg-3 well ">
            <img class="img-responsive" src="/{{especie.foto}}" width="200" height="200">
            <h2>{{especie.nombre}}</h2>
            <h4>{{especie.desc_corta}}</h4>
        </div>
    {% endfor %}
</body>
</html>